<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="area-container">
    <div class="button-overlay">
        <div class="mobile-buttons">
            <h2>FACILITY MAP</h2>
        </div>
        <div class="mobile-screen">
            <h5>LEGEND: <button class="button-green"><div class="right">Available</div></button> <br> <button class="button-red"><div class="right">Unavailable</div></button></h5>
        </div>
        <div class="image-container">
            <img src="{% static 'images/area.jpg' %}" alt="area" class="image-fit">
            <button class="area1-button" data-areaid="A1" onclick="showMessage('ARE YOU SURE YOU WANT TO BOOK THIS AREA?', this)">1/3</button>
            <button class="area2-button" data-areaid="A2" onclick="showMessage('ARE YOU SURE YOU WANT TO BOOK THIS AREA?', this)">0/2</button>
            <button class="area3-button" data-areaid="A3" onclick="showMessage('ARE YOU SURE YOU WANT TO BOOK THIS AREA?', this)">2/4</button>
            <button class="area4-button" data-areaid="A4" onclick="showMessage('ARE YOU SURE YOU WANT TO BOOK THIS AREA?', this)">2/3</button>
            <button class="area5-button" data-areaid="A5" onclick="showMessage('ARE YOU SURE YOU WANT TO BOOK THIS AREA?', this)">2/5</button>
        </div>
    </div>
</div>

<br>

<div class="guidelines-container">
    <div class="mobile-screen">
        {% block content %}
        {% endblock %}
    </div>

    <div class="mobile-buttons">
        <h5>GUIDELINES</h5>

        <div>
             <h3>WALK-IN BOOKING</h3>
        </div>
        <div>
             <h4>1. Select an available area within the facility map</h4>
             <h4>2. Confirm your selected area</h4>
             <h4>3. Present walk-in reference number to the front desk</h4>
        </div>
    </div>
</div>


<div class="popup-message" id="popupMessage">
    <div class="message-content">
        <h3 id="popupText"></h3>
        <div class="button-container" id="buttonContainer">
            <button class="popup-button" onclick="handleYesButtonClick()">YES</button>
            <button class="popup-button" onclick="hideMessage()">NO</button>
        </div>
        <div class="reference-container" id="referenceContainer" style="display: none;"></div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>