
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="area-container">
    <div class = mobile-buttons>
        <h2>FACILITY MAP</h2>
    </div>
    <div class = mobile-screen>
        <h5>LEGEND: <button class="button-green"><div class ="right">Available</div> </button> <br> <button class="button-red"><div class ="right">Unavailable</div></button></h5>
    </div>


    <img src="{% static 'images/area.jpg' %}" alt="area" class="image-fit">
    </div>
    <br>


    <div class="guidelines-container">
        <div class="mobile-screen">
            {% block content %}

            {% endblock %}
        </div>

        <div class="mobile-buttons">
            <h5>GUIDELINES</h5>

            <div>
                 <h2>WALK-IN BOOKING</h2>
            </div>
            <div>
                 <h4>1. Select an available area within the facility map</h4>
            </div>
            <div>
                 <h4>2. Confirm your selected area</h4>
            </div>
            <div>
                 <h4>3. Present walk-in reference number to the front desk</h4>
            </div>
        </div>
    </div>


    {% block extra_scripts %}{% endblock %}
</body>
</html>