<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | WildSpace</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body style="background-color:#FECC00">
    <div class="login-container">
        <h2 class="login-title">LOGIN WILDSPACE</h2>
        <div class="login-input">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username">
        </div>
        <div class="login-input">
            <i class="fas fa-key"></i>
            <input type="password" placeholder="Password">
        </div>
        <br>
        <br>
        <br>
        <button class="login-button">LOGIN</button>
    </div>
</body>
</html>


