{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seating Map</title>
    <link rel="stylesheet" href="{% static 'css/userdashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/WILLOGO.png' %}">
</head>
<body>
    <div class="content">
        <div class="header">
            <div >
                <a href="{% url 'userprofile' %}">
                    <img src="{% static 'images/profile.png' %}" alt="Profile Icon" class="profile-icon" style="width: 32px; height: 32px; margin-right:60px">
                </a>
                 <img src="{% static 'images/WILLOGO.png' %}" alt="WIL LOGO" class="logo" style="margin-right:100px">
            </div>
            <div class="area-container">
                <div class="button-overlay">
                    <div class="mobile-buttons">
                        <h2>SELECT AN AREA</h2>
                    </div>
                    
                    <div class="image-container">
                        <img src="{% static 'images/area.png' %}" alt="area" class="image-fit">
                        
                        
                        {% for area in areas %}
                        <button class="area-button seat {% if area.area_id == 'A3' %}areaA3-button
                        {% elif area.area_id == 'A4' %}areaA4-button
                        {% elif area.area_id == 'A5' %}areaA5-button
                        {% elif area.area_id == 'A6' %}areaA6-button
                        {% elif area.area_id == 'A8' %}areaA8-button
                        {% elif area.area_id == 'A9' %}areaA9-button
                        {% elif area.area_id == 'A7' %}areaA7-button
                        {% endif %}" data-areaid="{{ area.area_id }}" data-availability="{{ area.booked_count }}" data-total="{{ area.total_count }}">{{ area.booked_count }}/{{ area.total_count }}</button>
                    {% endfor %}



                    </div>
                    
                    
                    
                </div>
            </div>
            <br>
            <div class="guidelines-container">
                <div class="mobile-screen">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="mobile-buttons">
                    <h5>GUIDELINES</h5>
                    <div>
                         <h3>WALK-IN BOOKING</h3>
                    </div>
                    <div>
                         <h4>1. Select an available area within the facility map</h4>
                         <h4>2. Confirm your selected area</h4>
                         <h4>3. Present walk-in reference number to the front desk</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-message" id="popupMessage">
            <div class="message-content">
                <h3 id="popupText"></h3>
                <div class="button-container" id="buttonContainer">
                    <button class="popup-button" onclick="handleYesButtonClick()">YES</button>
                    <button class="popup-button" onclick="hideMessage()">NO</button>
                </div>
                <div class="reference-container" id="referenceContainer" style="display: none;"></div>
            </div>
        </div>
    </div>
    
    
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>










