<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    {% block extra_css %}{% endblock %}
</head>
<body>
<a href="{% url 'location' %}" class="left-button"><i class="fas fa-arrow-left"></i></a>
<div>
<div class="name-container">
  <div>
    <h4>Welcome {{ user.username }}</h4>
  </div>
  <div class="button-overlay"></div>
</div>  
<br>
<div class="reminders-container">
    <div class="">
        <div class="mobile-buttons">
          <h4 STYLE="text-align: left">Reminders for WILDSPACE:</h4>
        </div>
        <ul style="font-size: 13.5px">
          <li>Always be mindful of your surroundings and others around you.</li>
          <li>Stay on the area you are assigned to.</li>
          <li>Once your time is up, proceed to the front desk for end session confirmation.</li>
        </ul>
        <div class="">
        </div>
    </div>
</div>
<br>
<div class="information-container">
    <div class="mobile-screen">
        {% block content %}
        {% endblock %}
    </div>
    <h3 style="text-align:center;">WILDSPACE INFORMATION</h3>
    <br>
    <div>
        <h4>User Id: <span style="color: red; text-decoration: underline;">{{ id_number }}</span></h4>
        <h4>Booking Reference Number: <span style="color: red; text-decoration: underline;">{{ booking_reference_number }}</span></h4>
        <h4>Assigned Area: <span style="color: red; text-decoration: underline;">{{ assigned_area }}</span></h4>
        <h4>Date of Use: <span style="color: red; text-decoration: underline;">{{ date_of_use }}</span></h4>
        <h4>Booking type: <span style="color: red; text-decoration: underline;">Walk-in</span></h4>

    </div>
    <br>

    <div class="time-container">
      <h4 id="timer">{{ timer_data.minutes }}:{{ timer_data.seconds|default:"00" }}</h4>
    </div>
    <br>
    <br>
    <button class="end-button">END SESSION</button>
</div>
</div>

<div id="confirmation-dialog" class="confirmation-dialog">
  <h2>Confirmation</h2>
  <p>Are you sure you want to end the session?</p>
  <div class="button-container">
    <button id="confirm-button">Yes</button>
    <button id="cancel-button">No</button>
  </div>
</div>
<div id="overlay" class="overlay"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    if ("Notification" in window) {
        if (Notification.permission !== "granted") {
          Notification.requestPermission().then(function (permission) {
            
          });
        }
      }
    function updateTimer() {
        $.ajax({
          url: '{% url "get_timer_data" %}',
          dataType: 'json',
          success: function (data) {
            if (!data.session_ended) {
              var formattedTime = padNumber(data.minutes) + ':' + padNumber(data.seconds);
              $('#timer').text(formattedTime);
              if (data.minutes === 0 && data.seconds === 0) {
                
                showNotification("WILDSPACE", "Your time has ended!");
              }
            } else {
              $('#timer').text('00:00');
            }
          }
        });
      }
      function showNotification(title, body) {
        if (Notification.permission === "granted") {
          var options = {
            body: body,
          };
      
          var notification = new Notification(title, options);
      
        
          notification.onclick = function () {
            
            notification.close();
          };
        }
      }
      

  function padNumber(number) {
      return number.toString().padStart(2, '0');
  }
  
  
  function showConfirmationDialog() {
    var confirmationDialog = document.getElementById('confirmation-dialog');
    var overlay = document.getElementById('overlay');
    confirmationDialog.style.display = 'block';
    overlay.style.display = 'block';
  }
  
  
  document.getElementById('confirm-button').addEventListener('click', confirmEndSession);
  document.getElementById('cancel-button').addEventListener('click', cancelEndSession);
  
  
  function confirmEndSession() {
    
    var csrfToken = getCookie('csrftoken');

    $.ajax({
        url: '{% url "end_session" %}',  
        method: 'POST',
        data: {session_ended: true},
        headers: {
            "X-CSRFToken": csrfToken  
        },
        success: function(data) {
            
            if (data.success) {
                
                var referenceNumber = '{{ booking_reference_number }}';
                var messageOverlay = document.createElement('div');
                messageOverlay.classList.add('message-overlay');

                var messageBox = document.createElement('div');
                messageBox.classList.add('message-box');

                var messageHeader = document.createElement('h2');
                messageHeader.textContent = 'Session Ended';

                var messageContent = document.createElement('p');
                messageContent.innerHTML = 'Reference Number: ' + referenceNumber;

                var additionalText = document.createElement('p');
                additionalText.textContent = 'To avoid overstaying charges, please go to the front desk and present your reference number to confirm that your allotted time has ended.';

                messageBox.appendChild(messageHeader);
                messageBox.appendChild(messageContent);
                messageBox.appendChild(additionalText);

                messageOverlay.appendChild(messageBox);

                document.body.appendChild(messageOverlay);

                
                $('#timer').text('00:00');

                
                hideConfirmationDialog();
            } else {
                alert('Failed to end the session. Please try again.');
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log(xhr.responseText); 
            alert('Failed to end the session. Please try again.');
        }
    });
}



function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  
  
  function cancelEndSession() {
    
    hideConfirmationDialog();
  }
  
  
  function hideConfirmationDialog() {
    var confirmationDialog = document.getElementById('confirmation-dialog');
    var overlay = document.getElementById('overlay');
    confirmationDialog.style.display = 'none';
    overlay.style.display = 'none';
  }
  
  $(document).ready(function() {
      setInterval(updateTimer, 1000);
  });
  
  
  document.querySelector('.end-button').addEventListener('click', function() {
    showConfirmationDialog();
  });


  

  
  </script>

</body>
</html>

