<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    {% block extra_css %}{% endblock %}
</head>
<body>
<a href="{% url 'location' %}" class="left-button"><i class="fas fa-arrow-left"></i></a>
<div class="name-container">
  <div>
    <h4>Welcome James Cobord!</h4>
  </div>
  <div class="button-overlay"></div>
</div>

<br>
<div class="reminders-container">
    <div class="button-overlay">
        <div class="mobile-buttons">
            <h4 STYLE="text-align: left;">Reminders for WILDSPACE:</h4>
        </div>
        <h5>•Always be mindful of your surroundings and others around you.</h5>
        <h5>•Stay on the area you are assigned to.</h5>
        <h5>•Once your time is up, proceed to the front desk for end session confirmation.</h5>
        <div class="image-container">
        </div>
    </div>
</div>
<br>
<div class="information-container">
    <div class="mobile-screen">
        {% block content %}
        {% endblock %}
    </div>
    <h3 style="text-align:center;">WILDSPACE INFORMATION</h3>
    <br>
    <div>
        <h4>User Id: <span style="color: red; text-decoration: underline;">{{ id_number }}</span></h4>
        <h4>Booking Reference Number: <span style="color: red; text-decoration: underline;">{{ booking_reference_number }}</span></h4>
        <h4>Assigned Area: <span style="color: red; text-decoration: underline;">{{ assigned_area }}</span></h4>
        <h4>Date of Use: <span style="color: red; text-decoration: underline;">{{ date_of_use }}</span></h4>
        <h4>Booking type: <span style="color: red; text-decoration: underline;">Walk-in</span></h4>

    </div>
    <br>


    <div class="time-container">
        <h4 id="timer">23:00</h4>
    </div>
    <br>
    <br>
    <br>
    <button class="end-button" onclick="endSession()">END SESSION</button>
</div>

<div id="confirmation-dialog" class="confirmation-dialog">
  <h2>Confirmation</h2>
  <p>Are you sure you want to end the session?</p>
  <div class="button-container">
    <button id="confirm-button">Yes</button>
    <button id="cancel-button">No</button>
  </div>
</div>
<div id="overlay" class="overlay"></div>


<script>

  var timerElement = document.getElementById('timer');
  var minutes = 30;
  var seconds = 0;
  var sessionEnded = false;

  function updateTimer() {
    if (sessionEnded) {

      return;
    }

    if (seconds > 0) {
      seconds--;
    } else if (minutes > 0) {
      minutes--;
      seconds = 59;
    } else {

      endSession();
      return;
    }

    var formattedTime = padNumber(minutes) + ':' + padNumber(seconds);
    timerElement.textContent = formattedTime;
    setTimeout(updateTimer, 1000);
  }

  function padNumber(number) {
    return number.toString().padStart(2, '0');
  }

  updateTimer();


function endSession() {
  if (sessionEnded) {

    return;
  }


  var confirmationDialog = document.getElementById('confirmation-dialog');
  var overlay = document.getElementById('overlay');
  confirmationDialog.style.display = 'block';
  overlay.style.display = 'block';

  var confirmButton = document.getElementById('confirm-button');
  var cancelButton = document.getElementById('cancel-button');

  confirmButton.addEventListener('click', function() {

    timerElement.textContent = '00:00';


    confirmationDialog.style.display = 'none';
    overlay.style.display = 'none';


    var messageOverlay = document.createElement('div');
    messageOverlay.classList.add('message-overlay');

    var messageBox = document.createElement('div');
    messageBox.classList.add('message-box');

    var messageHeader = document.createElement('h2');
    messageHeader.textContent = 'Session Ended';

    var messageContent = document.createElement('p');
    messageContent.innerHTML ='Reference Number: {{ booking_reference_number }}';

    var additionalText = document.createElement('p');
    additionalText.textContent = 'To avoid overstaying charges, please go to the front desk and present your reference number to confirm that your alloted time has ended.';

    messageBox.appendChild(messageHeader);
    messageBox.appendChild(messageContent);
    messageBox.appendChild(additionalText);

    messageOverlay.appendChild(messageBox);

    document.body.appendChild(messageOverlay);


    sessionEnded = true;
  });

  cancelButton.addEventListener('click', function() {

    confirmationDialog.style.display = 'none';
    overlay.style.display = 'none';
  });
}


</script>



</body>
</html>

