@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.small-calendar-button {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 30px;
    height: 30px;
    background: #007BFF;
    color: #000000;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


#expanded-calendar {
    display: none;
    position: absolute;
    width: 90%; 
    height: 50%; 
    background-color: #000000;
    z-index: 1;
    border-radius: 1%;
    
}