@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.area-container {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  height: 360px;
  background-color: #a5a5a5;
  margin: 0 auto;
  padding: 20px;
  border-radius: 21px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.arealocation-container {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  height: 305px;
  background-color: #a5a5a5;
  margin: 0 auto;
  padding:10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.reminders-container {
  width: 300px;
  height: 190px;
  font-family: 'Poppins', sans-serif;
  background-color: #D9D9D9;
  margin: 0 auto;
  padding: 15px;
  font-style: normal;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.name-container {
  width: 250px;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  background-color: #2C3E50;
  margin-right: 20px;
  margin-left: 80px;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.left-button{
  position:absolute;
  top: 6%;
  font-family: 'Poppins', sans-serif;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  border-radius: 30%;
  width: 30px;
  height: 25px;
  cursor: pointer;
  color: #000000;
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
}

.time-container {
  width: 270px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  background-color: #D9D9D9;
  margin: 0 auto ;
  margin-top: 20px;
  padding: 4px;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.information-container {

  width: 300px;
  height: 170px;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  font-style: normal;
  text-align: left;
  border: 2px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 2px;
}
.image-container {
  position: relative;
  width: 300px; /* Set width for the container, adjust as needed */
  height: 150px; /* Set height for the container, adjust as needed */
  overflow: hidden; /* Hide the overflow content */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
}

.image-fit {
  width: 100%; /* Initial width */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Smooth transition on size change */
  transform-origin: top left; /* Set the origin for transform to top left */
}

.pin1-fit {
  max-width: 15%;
  max-height: 15%;
  width: auto;
  font-family: 'Poppins', sans-serif;
  height: auto;
  position: absolute;
  top: 10%;
  left: 23%;
}


.guidelines-container {
  width: 290px;
  height: 200px;
  background-color: #D9D9D9;
  margin: 0 auto;
  line-height:14px;
  font-family: 'Poppins', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
}
.location-container {
  width: 320px;
  height: 240px;
  font-family: 'Poppins', sans-serif;
  background-color: #D9D9D9;
  margin: 0 auto;
  margin-top: 6px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  line-height: 15px;
}

.mobile-buttons {
  margin-top: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.button-container {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
}

.button-green {
  width: 10px;
  height: 10px;
  position:absolute;
  font-family: 'Poppins', sans-serif;
  background-color: #83CD56;
  border: 1px solid #000000;
  border-radius: 50%;



}
.button-red {
  width: 10px;
  height: 10px;
  left:5%;
  position:absolute;
  font-family: 'Poppins', sans-serif;
  background-color: #FF0000;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-left:65px;


}
.right{
    margin-left:10px;

}
.image-container {
  position: relative;
  
}

.areaA1-button {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  font-family: 'Poppins', sans-serif;
  font-size: 7px;
  border: 1px solid #000000;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}

.areaA2-button {
  position: absolute;
  top: 25%;
  left: 28%;
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA3-button {
  position: absolute;
  top: 35%;
  left: 76%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #000000;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA4-button {
  position: absolute;
  top: 35%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #000000;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA5-button {
  position: absolute;
  top: 60%;
  left: 76%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA6-button {
  position: absolute;
  top: 60%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA7-button {
  position: absolute;
  top: 75%;
  left: 32%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 7px;
  border-radius: 0%;
  width: 25px;
  height: 13px;
  cursor: pointer;
}
.areaA8-button {
  position: absolute;
  top: 88%;
  left: 77%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 6px;
  border-radius: 0%;
  width: 23px;
  height: 11px;
  cursor: pointer;
}
.areaA9-button {
  position: absolute;
  top: 88%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 6px;
  border-radius: 0%;
  width: 23px;
  height: 11px;
  cursor: pointer;
}

.message-content {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size : 20px;

    }
.button-container {
        margin-top: 20px;

    }
.popup-button {
        padding: 20px 20;
        height:30px;
        width:30px;
        font-family: 'Poppins', sans-serif;
        color: white;
        background-color: #000000;
        width: 50px;
        border-radius: 10%;
        border: 2px solid #000000;
        cursor: pointer;
        }
.popup-message {
  height:200px;
  width: 80%;
  display: none;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FECC00;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #000000;
  color: black;
  z-index: 9999;
}


.time-button {
        width: 320px;
        height: 60px;
        border-radius:10px;

        font-weight:bold;
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 20px;
        background-color: #A5A5A5;}

.end-button {
        width: 300px;
        height: 60px;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        border-radius:10px;
        color: white;
        font-size: 20px;
        border: 2px solid ;
        cursor: pointer;
        background-color: #000000;}

.area1-button {
  position: absolute;
  top: 18%;
  left: 27%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area2-button {
  position: absolute;
  top: 33%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area3-button {
  position: absolute;
  top: 47%;
  left: 64%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area4-button {
  position: absolute;
  top: 69%;
  left: 73%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area5-button {
  position: absolute;
  top: 68%;
  left: 44%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}


/* CSS for pop-up message */

.message-overlay {
  position: fixed;
  height:200px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FECC00;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: none;
  z-index: 9999;
  display: flex;

}

.message-box {
  background-color: transparent;
  padding: 0px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.message-box h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.confirmation-dialog {
  position: fixed;
  height:200px;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FECC00;
  border: 1px solid #000000;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: none;
  z-index: 9999;
}

.confirmation-dialog h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.confirmation-dialog p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.button-container {
  text-align: center;
}

.button-container button {
  background-color: black;
  height: 50px;
  width: 90px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9998;
}

.login-container {
    text-align: center;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}

.login-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}

.login-input {
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.login-input i {
    position: absolute;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    left: 10px;
    transform: translateY(-50%);
    color: #000000;
}

.login-input input[type="text"],
.login-input input[type="password"] {
    width: 80%;
    height: 30px;
    padding: 10px 40px;
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}

.login-button {
    width: 90%;
    height: 55px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.red-button {
  background-color: red;
  font-family: 'Poppins', sans-serif;
  color: white;
}



















