body{
font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
}
.area-container {
  width: 300px;
  height: 360px;
  background-color: #a5a5a5;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.arealocation-container {
  width: 300px;
  height: 305px;
  background-color: #a5a5a5;
  margin: 0 auto;
  padding:10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.reminders-container {
  width: 300px;
  height: 190px;
  background-color: #D9D9D9;
  margin: 0 auto;
  padding: 15px;
  font-style: normal;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.name-container {
  width: 290px;
  height: 50px;
  background-color: #2C3E50;
  margin: 0 auto ;

  color: white;
  font-style: normal;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.time-container {
  width: 270px;
  height: 50px;
  background-color: #D9D9D9;
  margin: 0 auto ;
  padding: 4px;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.information-container {

  width: 300px;
  height: 185px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  font-style: normal;
  text-align: left;
  border: 2px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 2px;
}
.image-fit {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
}
.pin1-fit {
  max-width: 15%;
  max-height: 15%;
  width: auto;
  height: auto;
  position: absolute;
  top: 10%;
  left: 23%;
}


.guidelines-container {
  width: 290px;
  height: 200px;
  background-color: #D9D9D9;
  margin: 0 auto;
  line-height:14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
}
.location-container {
  width: 320px;
  height: 240px;
  background-color: #D9D9D9;
  margin: 0 auto;
  margin-top: 6px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  line-height: 15px;
}

.mobile-buttons {
  margin-top: 20px;
  text-align: center;

}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button-green {
  width: 10px;
  height: 10px;
  position:absolute;
  background-color: #83CD56;
  border: 1px solid #000000;
  border-radius: 50%;



}
.button-red {
  width: 10px;
  height: 10px;
  left:5%;
  position:absolute;
  background-color: #FF0000;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-left:65px;


}
.right{
    margin-left:10px;

}
.image-container {
  position: relative;
}

.area1-button {
  position: absolute;
  top: 20%;
  left: 27%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.area2-button {
  position: absolute;
  top: 38%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #FF0000;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.area3-button {
  position: absolute;
  top: 52%;
  left: 64%;
  transform: translate(-50%, -50%);
  background-color: #FF0000;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.area4-button {
  position: absolute;
  top: 74%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.area5-button {
  position: absolute;
  top: 74%;
  left: 44%;
  transform: translate(-50%, -50%);
  background-color: #83CD56;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.message-content {
        text-align: center;
        font-size : 20px;

    }
.button-container {
        margin-top: 20px;

    }
.popup-button {
        padding: 20px 20;
        height:30px;
        color: white;
        background-color: #000000;
        width: 90px;
        border-radius: 10%;
        border: 2px solid #000000;
        cursor: pointer;
        }
.popup-message {
        width :250px;
        height: 160px;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FECC00;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0,);
        border: 2px solid #000000;
        color: black;
        }

.time-button {
        width: 320px;
        height: 60px;
        border-radius:10px;

        font-weight:bold;
        color: black;
        font-size: 20px;
        background-color: #A5A5A5;}

.end-button {
        width: 300px;
        height: 60px;
        border-radius:10px;
        color: white;
        font-size: 20px;
        border: 2px solid ;
        cursor: pointer;
        background-color: #000000;}

.area11-button {
  position: absolute;
  top: 18%;
  left: 27%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area22-button {
  position: absolute;
  top: 33%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area33-button {
  position: absolute;
  top: 47%;
  left: 64%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area44-button {
  position: absolute;
  top: 69%;
  left: 73%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}
.area55-button {
  position: absolute;
  top: 68%;
  left: 44%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  font-size: 35px;
  color: #FF0000;
}





