#page-content-wrapper {
  background: url("../images/basebg.jpg") no-repeat;
  background-size: cover;
  /* Add any other styles you need for #page-content-wrapper */
}

/* Add styles for links */
.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.list-group-item.active-link {
  background-color: #faca04;
  color: #000000;
}

.list-group-item:hover {
  /* Define styles for hover state */
  background-color: #f0f0f0;
  color: #000000;
}

.content-container {
  margin-top: 2%;
  text-align: center;
  color: white;
  backdrop-filter: blur(2px);
}

.my-custom-scrollbar {
  position: relative;
  height: 750px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

table {
  background-color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.actions {
  width: 100px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.book {
  background: #020202;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  min-height: 40px;
  height: 20px;
  width: 100px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.book:hover,
.book:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
}

.book:active {
  opacity: .5;
}

.logout {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  min-height: 40px;
  height: 20px;
  width: 100px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.logout:hover,
.logout:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.logout:active {
  opacity: .5;
}

caption {
  position: absolute;
  top: -5%;
}