#page-content-wrapper {
  background: url("../images/basebg.jpg") no-repeat;
  background-size: cover;
  /* Add any other styles you need for #page-content-wrapper */
}

/* Add styles for links */
.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.list-group-item.active-link {
  background-color: #faca04;
  color: #000000;
}

.list-group-item:hover {
  /* Define styles for hover state */
  background-color: #f0f0f0;
  color: #000000;
}

.content-container {
  margin-top: 2%;
  text-align: center;
  color: white;
  backdrop-filter: blur(2px);
}

.my-custom-scrollbar {
  margin-top: 5px;
  position: absolute;
  left: 72%;
  bottom: 8%;
  width: 25%;
  height: 500px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

table {
  background-color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.actions {
  width: 100px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.content {
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  margin-top: 15px;
  margin-bottom: -20px;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}

.facility-map {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  box-shadow: #000000;
  margin-left: 50px;
}

.facility-areas {
  width: 100%;
  object-fit: fill;
}

.areaA1-button {
  position: absolute;
  top: 23%;
  left: 9%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA2-button {
  position: absolute;
  top: 23%;
  left: 27.2%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA3-button {
  position: absolute;
  top: 32%;
  left: 77%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA4-button {
  position: absolute;
  top: 32%;
  left: 91%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA5-button {
  position: absolute;
  top: 59%;
  left: 77%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA6-button {
  position: absolute;
  top: 59%;
  left: 91%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.areaA7-button {
  position: absolute;
  top: 76%;
  left: 31%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 65px;
  height: 25px;
  cursor: pointer;
}

.areaA8-button {
  position: absolute;
  top: 89%;
  left: 78%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 45px;
  height: 25px;
  cursor: pointer;
}

.areaA9-button {
  position: absolute;
  top: 89%;
  left: 90%;
  font-family: "Poppins", sans-serif;
  transform: translate(-50%, -50%);
  background-color: #83cd56;
  border: 1px solid #000000;
  font-size: 12px;
  border-radius: 0%;
  width: 45px;
  height: 25px;
  cursor: pointer;
}