
<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/adminLoginStyle.css' %}">
    
</head>

<body>
        <div class="header">

            <h1> WILDSPACE <h2>
                
        </div>

        <div class="loginContainer">
            
            
            <form class="loginForm">

                    <label>Username</label><br>
                    <input type="text" placeholder="Enter username" class="username"><br><br>
                    <label>Passowrd</lavel><br>
                    <input type="password" placeholder="Enter password" class="password"><br><br>
                    <input type="submit" value="LOGIN" class="loginbutton">

            </form>

        </div>
</body>

</html>