
<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/adminDashboard.css' %}">
    
</head>

<body>
        <div class="header">

            <h1> WILDSPACE ADMIN DASHBOARD <h2>
                
        </div>

        <div class="buttonContainer">
            
            
            <form class="loginForm">

                    <input type="submit" value="WALK-IN DASHBOARD" class="button"><br>
                    <input type="submit" value="VIEW WORKSPACES" class="button"><br>
                    <input type="submit" value="BOOK VIP" class="button"><br>

            </form>

        </div>
</body>

</html>