
<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/adminDashboard.css' %}">
</head>

<body>
    <div class="content">
            <div class="header">
                <img src="{% static 'images/WILLOGO.png' %}" alt="WIL LOGO" class="logo">
                <h1> WILDSPACE ADMIN DASHBOARD <h2>
            </div>

            <div class="buttonContainer">
                <button type="submit" class="button">WALK-IN DASHBOARD</button><br>
                <button type="submit" class="button">VIEW WORKSPACES</button><br>
                <button type="submit" class="button">BOOK VIP</button><br>
            </div>
    </div>
</body>

</html>