{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Wildspace</title>

    <link
      href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'css/baseStyle.css' %}" rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/WILLOGO.png' %}" />
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />

    {% block headerinclude %} {% endblock %}
  </head>

  <body>
    <div id="header-wrapper">
      <!-- Header with Logo -->
      <header class="bg-custom-color">
        <div class="row">
          <div class="col-2">
            <!-- Logo  -->
            <img
              src="{% static 'images/WILLOGO.png' %}"
              alt="Logo"
              width="75"
              height="65"
            />
          </div>

          <div class="col-10 d-flex justify-content-end align-items-center">
            <div>
              <div
                class="card"
                style="
                  padding: 10px 10px 3px 10px;
                  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                  background-color: #faca04;
                  margin-right: 20px;
                "
              >
                <h5 class="All-Font" style="color: #000">{{user.username}}</h5>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="sidebar-wrapper border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
          <h2 class="All-Font">WILDSPACE</h2>
        </div>
        <div class="list-group list-group-flush">
          {% if user.is_authenticated %}
          <a
            href="admindashboard"
            class="list-group-item list-group-item-action {% if 'admindashboard' in request.path %}active-link{% endif %}"
            >Dashboard</a
          >
          <a
            href="walkindashboard"
            class="list-group-item list-group-item-action {% if 'walkindashboard' in request.path %}active-link{% endif %}"
            >Walk-in Dashboard</a
          >
          <a
            href="reserveddashboard"
            class="list-group-item list-group-item-action {% if 'reserveddashboard' in request.path %}active-link{% endif %}"
            >Reserved Dashboard</a
          >
          <a
            href="workspaces"
            class="list-group-item list-group-item-action {% if 'workspaces' in request.path %}active-link{% endif %}"
            >View Workspaces</a
          >

          <a
            href="bookguest"
            class="list-group-item list-group-item-action {% if 'bookguest' in request.path %}active-link{% endif %}"
            >Book Guest</a
          >

          <a
            href="reportlogs"
            class="list-group-item list-group-item-action {% if 'reportlogs' in request.path %}active-link{% endif %}"
            >Report Logs</a
          >

          <div style="margin-bottom: 0px"></div>

          <a
            href="logout"
            class="list-group-item list-group-item-action sidebar-link {% if 'logout' in request.path %}active-link{% endif %}"
            >Logout</a
          >

          {% else %}
          <a
            href="/wiladmin/login/"
            class="list-group-item list-group-item-action sidebar-link"
            onmouseover="this.style.backgroundColor='#f5f5f5'"
            onmouseenter="this.insertAdjacentHTML('beforebegin', '<span class=\'highlight-box\'></span>')"
            onmouseleave="this.previousSibling.remove()"
          >
            Login
          </a>
          <a
            href="/wiladmin/login/"
            class="list-group-item list-group-item-action sidebar-link {% if 'register' in request.path %}active-link{% endif %}"
            >Register</a
          >
          {% endif %}
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper" , style="background-color: #f8f9fa">
        <div class="container-fluid">{% block body_block %} {% endblock %}</div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

    <!-- Bootstrap core JavaScript -->
    <!-- Font Awesome JS -->
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </body>
</html>
