
<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/walkinDashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/WILLOGO.png' %}">
</head>

<body>

    <div class="main">
        <div class="header">
            <a href="dashboard"><img src="{% static 'images/WILLOGO.png' %}" alt="WIL LOGO" class="logo" height="50px"></a>
            <h1> WALK-IN DASHBOARD <h2>
        </div>

        <div class="bookingContainer">

                <table>
                    <caption>Booking List</caption>
                    <tr>
                    <th>Reference ID</th>
                    <th>User ID</th>
                    <th>Schedule</th>
                    <th>Status</th>
                    <th></th>
                    </tr>
                    <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td class="actions">
                        <a href="dashboard"><button type="button" class="book" >Book</button></a>
                        <a href="dashboard"><button type="button" class="logout">Logout</button></a>
                    </td>
                    </tr>
                </table>

                <a href="dashboard"><button type="button" class="return">Return to Dashboard</button></a>

        </div>
    </div>
</body>

</html>