{% extends 'wiladmin/base.html' %} {% load static %} {% block body_block %}

<link rel="stylesheet" href="{% static 'css/walkindashboard.css' %}" />

<body>
  <div class="content-container">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <caption>
          Booking List
        </caption>
        <thead>
          <tr>
            <th scope="col">Reference ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Schedule</th>
            <th scope="col">Status</th>
            <th scope="col" class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bookings in bookings %}
          <tr>
            <td>{{ bookings.referenceid }}</td>
            <td>{{ bookings.userid }}</td>
            <td>{{ bookings.schedule }}</td>
            {% if bookings.status == 'Pending' %}

            <td style="color: orange">{{ bookings.status }}</td>

            <td class="actions">
              <form
                action="updatebooking/{{ bookings.bookingid }}"
                method="POST"
              >
                {% csrf_token %}
                <input type="submit" value="Book" class="book" />
              </form>
            </td>

            {% else %}

            <td style="color: green">{{ bookings.status }}</td>

            <td class="actions">
              <form
                action="deletebooking/{{ bookings.bookingid }}"
                method="POST"
              >
                {% csrf_token %}
                <input type="submit" value="Logout" class="logout" />
              </form>
            </td>

            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
