{% extends 'wiladmin/base.html' %} {% load static %} {% block body_block %}

<link rel="stylesheet" href="{% static 'css/workspaces.css' %}" />

<body>
    <div class="content-container">
        <div class="content">
            <div id="facility-map" class="facility-map">
                <img src="{% static 'images/area_remastered.png' %}" alt="areas" class="facility-areas">

                {% for area_count in area_count %}

                <form method="POST" action="workspaces/A1">
                    {% csrf_token %}
                <input type="submit" id="a1" class="areaA1-button" value={{area_count.countA1}}/5>
                </form> 

                <form method="POST" action="A2">
                    {% csrf_token %}
                <input type="submit" id="a2" class="areaA2-button" value={{area_count.countA2}}/5>
                </form>

                <form method="POST" action="A3">
                    {% csrf_token %}
                <input type="submit" id="a3" class="areaA3-button" value={{area_count.countA3}}/6>
                </form> 

                <form method="POST" action="A4">
                    {% csrf_token %}
                <input type="submit" id="a4" class="areaA4-button" value={{area_count.countA4}}/6>
                </form> 

                <form method="POST" action="A5">
                    {% csrf_token %}
                <input type="submit" id="a5" class="areaA5-button" value={{area_count.countA5}}/6>
                </form>

                <form method="POST" action="A6">
                    {% csrf_token %}
                <input type="submit" id="a6" class="areaA6-button" value={{area_count.countA6}}/6>
                </form>

                <form method="POST" action="A7">
                    {% csrf_token %}
                <input type="submit" id="a7" class="areaA7-button" value={{area_count.countA7}}/24>
                </form>

                <form method="POST" action="A8">
                    {% csrf_token %}
                <input type="submit" id="a8" class="areaA8-button" value={{area_count.countA8}}/6>
                </form>

                <form method="POST" action="A9">
                    {% csrf_token %}
                <input type="submit" id="a9" class="areaA9-button" value={{area_count.countA9}}/6>
                </form>

                {% endfor %}
            </div>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col" colspan="3">Users</th>
                </tr>
              </thead>
              <tbody>
                {% if area != NONE %}
                {% for area in area %}
                <tr>
                    <td>{{ area.userid }}</td>
                    <td>{{ area.schedule }}</td>
                    <td>{{ area.referenceid }}</td>
                </tr>
                {% endfor %}

                {% else %}

                <tr>
                    <td> Select Area </td>
                </tr>

                {% endif %}
              </tbody>
            </table>
          </div>
    </div>

    <script src="{% static 'functions-js/refresh.js' %}"></script>
</body>
{% endblock %}
