
<!DOCTYPE html>

{% load static %}

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/adminDashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/WILLOGO.png' %}">
</head>

<body>
    <div class="content">
            <div class="header">
                <h4>Logged in as: {{user.username}}</h4>
                <a href="dashboard"><img src="{% static 'images/WILLOGO.png' %}" alt="WIL LOGO" class="logo"></a>
                <h1> WILDSPACE ADMIN DASHBOARD <h2>
            </div>

            <div class="buttonContainer">
                <a href="walkindashboard"> <button type="submit" class="button">WALK-IN DASHBOARD</button></a><br>
                <a href="reserveddashboard"> <button type="submit" class="button">RESERVED DASHBOARD</button></a><br>
                <a href="workspaces"><button type="submit" class="button">VIEW WORKSPACES</button></a><br>
                <a href="bookguest"><button type="submit" class="button">BOOK GUEST</button></a><br>
                <a href="logs"> <button type="submit" class="button">REPORT LOGS</button></a><br>
                <a href="logout"><button type="submit" class="logout">LOGOUT ADMIN</button></a><br>
            </div>
    </div>
</body>

</html>